.r-b {
  background: linear-gradient(#262626, #9d3434);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  left: 60px;
}

.r-b:hover {
  opacity: 0.8;
}

.register-main {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  position: relative;
  top: 100px;
  padding: 16px;
}

.username-register {
  border-radius: 10px;
}

.password-register {
  border-radius: 10px;
}

.email-register {
  border-radius: 10px;
}

.firstname-register {
  border-radius: 10px;
}

.lastname-register {
  border-radius: 10px;
}