.grid-container-rp {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}


.rp-title {
    grid-column: 3;
    grid-row: 1;
    color: white;
    position: relative;
    left: 220px;
}

.rp-form {
    grid-column: 3;
    grid-row: 2;
    position: relative;
    left: 90px;
}

.rp-form-button {
    position: relative;
    left: 300px;
    background: linear-gradient(#262626, #9d3434);
    border-radius: 10px;
    color: white;
}

.rp-form-button:hover {
    cursor: pointer;
}